extends ../layout/index

block contenido 
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros" class="img-fluid")
            .col-md-7
                h1=pagina
                blockquote Capas o Capaz Capas y capaz son palabras correctas en la lengua española, pero con significados y usos distintos. Mientras que capas hace referencia a una prenda de vestir o al verbo capar conjugado, capaz se... Sellar o Cellar
                p Sellar significa poner un sello o dejar huella, así como cerrar o finalizar algo. Cellar, dicho del hierro, se refiere a un forjado específico para ciertos usos. Estas dos palabras son homófonas...Acecho o Asecho Acecho significa esperar por algo o alguien con cuidado o discreción. Asecho, por su parte, se refiere al engaño o maquinación que se arma contra una persona. Acecho y asecho son palabras... Intención o Intensión
                p Una intención es el propósito o finalidad con que se procede para alcanzar una meta. Intensión, en cambio, se refiere al conjunto de rasgos o propiedades con que se define un concepto o una unidad...Excusa o Escusa Una excusa puede ser un pretexto o una disculpa, mientras que una escusa se refiere a una cesta de mimbre o a los privilegios de que goza una persona, o al derecho que un dueño de tierra concede para...

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Las palabras parónimas son voces o expresiones muy semejantes entre sí en la pronunciación o la forma de escribirse, que, sin embargo, no coinciden del todo en su grafía, pronunciación o significado.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Las palabras parónimas son voces o expresiones muy semejantes entre sí en la pronunciación o la forma de escribirse, que, sin embargo, no coinciden del todo en su grafía, pronunciación o significado.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Las palabras parónimas son voces o expresiones muy semejantes entre sí en la pronunciación o la forma de escribirse, que, sin embargo, no coinciden del todo en su grafía, pronunciación o significado.
                