blockquote.text-center Lee Sobre Nuestros Clientes y sus Experiencias   
.row.testimoniales
    each item in testimoniales
        .col-md-6.col-lg-4.mb-4
            .card
                .card-body
                    blockquote.blockquote
                        p.mb-0
                            | #{item.mensaje}
                    footer.blockquote-footer
                        | #{item.nombre}