extends ../layout/index
block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Próximos cambios del historial Pronto estará disponible el historial de traducciones, pero solo cuando hayas accedido, y se administrará de forma central en Mi actividad. Durante esta actualización, se borrará el historial pasado. Asegúrate de guardar las traducciones que quieres recordar para poder acceder con facilidad a ellas más tarde.

                p Próximos cambios del historial Pronto estará disponible el historial de traducciones, pero solo cuando hayas accedido, y se administrará de forma central en Mi actividad. Durante esta actualización, se borrará el historial pasado. Asegúrate de guardar las traducciones que quieres recordar para poder acceder con facilidad a ellas más tarde.
                
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", class="img-fluid")

        h2.text-center.mb-5 Próximos viajes
        include ../layout/partials/viajes
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo 2021 - 28 de Marzo de 2021
                        p.precio $2,500 USD

    .container
        h2.text-center.my-5 Testimoniales
        include ../layout/partials/testimoniales
    